/* ----------------- SIZES ---------------- */
$headerHeight: 35px;
$footerHeight: 230px;
$sidebarWidth: 280px;
$sidebarGutter: 40px;

/* ---------------- COLORS ---------------- */

$cBlack: #000;
$cWhite: #fff;
$cLinkRed: #de0f22;
$cLinkVisited: #de717b;
$cGrey: #6d6d6d;
$cRed: #db290b;
$cLightRed: #fceaea;
$cYellow: #f8d017;
$cDarkYellow: #ffba34;
$cOrange: #ef9e00;

$pesticide-debug: false;
