@font-face {
  font-family: 'als_rublregular';
  src: url("fonts/rouble.eot");
  src: url("fonts/rouble.eot?#iefix") format("embedded-opentype"), url("fonts/rouble.woff") format("woff"), url("fonts/rouble.ttf") format("truetype"), url("fonts/rouble.svg#als_rublregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'avantgardegothiccbold';
  src: url("fonts/avantgardegothicc-bold.eot");
  src: url("fonts/avantgardegothicc-bold.eot?#iefix") format("embedded-opentype"), url("fonts/avantgardegothicc-bold.woff") format("woff"), url("fonts/avantgardegothicc-bold.ttf") format("truetype"), url("fonts/avantgardegothicc-bold.svg#avantgardegothiccbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1848, ../sass/main.scss */
.item-cards-list-cnt {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}
/* line 1854, ../sass/main.scss */
.item-cards-list-cnt .bx-controls a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  background-image: url("/img/spr_icons.png");
  background-repeat: no-repeat;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
/* line 1864, ../sass/main.scss */
.item-cards-list-cnt .bx-controls a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 1867, ../sass/main.scss */
.item-cards-list-cnt .bx-controls a.disabled {
  display: none;
}
/* line 1871, ../sass/main.scss */
.item-cards-list-cnt .bx-controls .bx-next {
  right: -30px;
  background-position: -50px -250px;
}
/* line 1875, ../sass/main.scss */
.item-cards-list-cnt .bx-controls .bx-prev {
  left: -30px;
  background-position: 0 -250px;
}
/* line 1886, ../sass/main.scss */
.item-cards-list-cnt .show-all-items-cnt {
  margin-bottom: 30px;
}

/* line 1891, ../sass/main.scss */
ul.item-cards-list {
  list-style: none;
  padding-bottom: 1px;
}
/* line 1894, ../sass/main.scss */
ul.item-cards-list.matrix {
  padding-top: 20px;*zoom:1;
  margin-left: 0px;
  padding: 0px;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  /* -webkit-transform: translate3d(0, 0, 0); */
  /* transform: translate3d(0, 0, 0); */
  -moz-transition: height 0.3s;
  -o-transition: height 0.3s;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}
/* line 38, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
ul.item-cards-list.matrix:after {
  content: "";
  display: table;
  clear: both;
}
/* line 1900, ../sass/main.scss */
ul.item-cards-list.matrix .item-card-item:nth-child(3n+1){
	margin-left: 0px;
}

ul.item-cards-list.matrix .item-card-item {
  margin-bottom: 20px;
  margin-left: 20px;
}
/* line 1903, ../sass/main.scss */
ul.item-cards-list.matrix .item-card-item.empty-list {
  width: 100%;
  margin-left: 0;
  float: none;
  display: block;
  height: 300px;
  border: none;
  line-height: 300px;
  text-align: center;
}
/* line 1915, ../sass/main.scss */
ul.item-cards-list.matrix.actionable .item-card-item {
  margin-bottom: 75px;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  -o-transition: opacity 0.3s, -o-transform 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
/* line 1918, ../sass/main.scss */
ul.item-cards-list.matrix.actionable .item-card-item.remove {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
}
/* line 1922, ../sass/main.scss */
ul.item-cards-list.matrix.actionable .item-card-item.busy {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 1929, ../sass/main.scss */
ul.item-cards-list.categories .item-card-item {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
/* line 1932, ../sass/main.scss */
ul.item-cards-list.categories .item-card-item:hover {
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
/* line 1935, ../sass/main.scss */
ul.item-cards-list.categories .item-card-item .img-cnt {
  height: 280px;
  line-height: 280px;
}
/* line 1939, ../sass/main.scss */
.tablet ul.item-cards-list.categories .item-card-item {
  -moz-transform: none;
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
/* line 1942, ../sass/main.scss */
.tablet ul.item-cards-list.categories .item-card-item:hover {
  -moz-transform: none;
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
}
/* line 1947, ../sass/main.scss */
.mobile ul.item-cards-list.categories .item-card-item {
  -moz-transform: none;
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
/* line 1950, ../sass/main.scss */
.mobile ul.item-cards-list.categories .item-card-item:hover {
  -moz-transform: none;
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
}
/* line 1955, ../sass/main.scss */
ul.item-cards-list.categories .item-info {
  top: inherit;
  bottom: 0;
}
/* line 1958, ../sass/main.scss */
ul.item-cards-list.categories .item-info:after {
  content: '';
  position: absolute;
  width: 32px;
  height: 2px;
  background: #e6e6e6;
  left: 50%;
  margin-left: -16px;
  bottom: 20px;
}
/* line 1970, ../sass/main.scss */
ul.item-cards-list .item-card-item {
  width: 300px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 447px;
  border: 1px solid #ebebeb;
  float: left;
  position: relative;
}
/* line 1979, ../sass/main.scss */
ul.item-cards-list .item-card-item .img-cnt {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 280px;
  line-height: 280px;
  text-align: center;
}
/* line 1986, ../sass/main.scss */
ul.item-cards-list .item-card-item .img-cnt img {
  max-width: 100%;
  max-height: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
/* line 1991, ../sass/main.scss */
ul.item-cards-list .item-card-item .img-cnt img.vis {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 1996, ../sass/main.scss */
ul.item-cards-list .item-card-item a {
  display: block;
  text-decoration: none;
  height: 100%;
}
/* line 2000, ../sass/main.scss */
ul.item-cards-list .item-card-item a:hover {
  text-decoration: none;
}
/* line 2006, ../sass/main.scss */
ul.item-cards-list .item-card-item a.item-remove {
  position: absolute;
  width: 10px;
  height: 10px;
  padding: 8px;
  right: 0;
  top: 0;
  background: url("/img/spr_icons.png") -445px -145px no-repeat;
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
/* line 2016, ../sass/main.scss */
ul.item-cards-list .item-card-item a.item-remove:hover {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 2022, ../sass/main.scss */
ul.item-cards-list .item-card-item.loading .item-actions a.inline {
  color: #666;
}
/* line 2024, ../sass/main.scss */
ul.item-cards-list .item-card-item.loading .item-actions a.inline:hover {
  cursor: default;
}
/* line 2034, ../sass/main.scss */
ul.item-cards-list .item-info {
  position: absolute;
  top: 290px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
/* line 2041, ../sass/main.scss */
ul.item-cards-list .item-info .category {
  font-family: avantgardegothiccbold, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #000;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  height: 65px;
  padding: 0 15px;
}
/* line 2051, ../sass/main.scss */
ul.item-cards-list .item-brand {
  font-family: avantgardegothiccbold, Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #000;
  line-height: 18px;
  height: 35px;
}
/* line 2055, ../sass/main.scss */
ul.item-cards-list .item-desc {
  font-family: avantgardegothiccregular, Arial, sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #4c4c4c;
  line-height: 16px;
  /* height: 27px; */
}
/* line 2060, ../sass/main.scss */
ul.item-cards-list .item-price {
  padding-top: 15px;
  margin-bottom: 8px;
  position: relative;
  font-family: avantgardegothiccregular, Arial, sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #000;
  line-height: 18px;
}
/* line 2066, ../sass/main.scss */
ul.item-cards-list .item-price:before {
  content: '';
  height: 2px;
  width: 32px;
  position: absolute;
  top: 7px;
  left: 50%;
  margin-left: -16px;
  background: #e6e6e6;
}
/* line 2076, ../sass/main.scss */
ul.item-cards-list .item-price span {
  font-family: avantgardegothiccbold, Arial, sans-serif;
  font-weight: normal;
}
/* line 2080, ../sass/main.scss */
ul.item-cards-list .old-price {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #666666;
  line-height: 20px;
  text-decoration: line-through;
  padding-bottom: 7px;
  margin-top: -10px;
  padding: 0px 0px 0px 5px;
}
/* line 2087, ../sass/main.scss */
ul.item-cards-list .item-actions {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -35px;
  height: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 2096, ../sass/main.scss */
ul.item-cards-list .item-actions a.inline {
  height: 20px;
  font-family: avantgardegothiccregular, Arial, sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #000;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid #959595;
}

/* line 2108, ../sass/main.scss */
.item-card-badge {
  display: block;
  position: absolute;
  height: 16px;
  width: 73px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 9px;
  color: #fff;
  line-height: 16px;
  right: -3px;
  text-transform: uppercase;
  top: 15px;
}
/* line 2119, ../sass/main.scss */
.wishlist .item-card-badge {
  top: 25px;
}
/* line 2121, ../sass/main.scss */
.wishlist .item-card-badge + .inner-card-badge {
  top: 55px;
}
/* line 2123, ../sass/main.scss */
.wishlist .item-card-badge + .inner-card-badge + .inner-card-badge {
  top: 85px;
}
/* line 2128, ../sass/main.scss */
.item-card-badge + .item-card-badge {
  top: 45px;
}
/* line 2130, ../sass/main.scss */
.item-card-badge + .item-card-badge + .item-card-badge {
  top: 75px;
}
/* line 2134, ../sass/main.scss */
.item-card-badge:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 16px;
  left: -5px;
  top: 0;
  background-image: url("/img/spr_badges.png");
  background-repeat: no-repeat;
}
/* line 2144, ../sass/main.scss */
.item-card-badge:after {
  content: '';
  position: absolute;
  bottom: -2px;
  right: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 2px 2px 0 0;
}
/* line 2154, ../sass/main.scss */
.item-card-badge.hit {
  background: #00d4a8;
}
/* line 2156, ../sass/main.scss */
.item-card-badge.hit:before {
  background-position: 0 -91px;
}
/* line 2159, ../sass/main.scss */
.item-card-badge.hit:after {
  border-color: #4ca180 transparent transparent transparent;
}
/* line 2163, ../sass/main.scss */
.item-card-badge.sale {
  background: #ff3333;
}
/* line 2165, ../sass/main.scss */
.item-card-badge.sale:before {
  background-position: 0 -75px;
}
/* line 2168, ../sass/main.scss */
.item-card-badge.sale:after {
  border-color: #cc2929 transparent transparent transparent;
}
/* line 2172, ../sass/main.scss */
.item-card-badge.new {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999999;
  border-right: 1px solid #999;
  background: #fff;
  color: #808080;
}
/* line 2181, ../sass/main.scss */
.item-card-badge.new:before {
  background-position: 0 -107px;
  top: -1px;
}
ul.item-cards-list .item-price span.rub {
    font-family: als_rublregular;
}

.item-price .twoline {
    text-align: right;
    line-height: 20px;
    padding-bottom: 7px;
}
.old-price.twoline {
    text-align: left;
    margin-top: 0px !important;
}
.common_list {
    width: 40%;
    margin: 0 auto;
    clear: both;
}
.common_list a.js-add-to-cart {
    height: 25px;
    padding: 0px;
    line-height: 25px;
    text-align: center;
}
.twoline {
    float: left;
    width: 49%;
}


ul.pagination {
  margin-top: 20px;
  display: block;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}
/* line 4487, ../sass/main.scss */
ul.pagination.right {
  float: right;
}
/* line 4490, ../sass/main.scss */
ul.pagination.left {
  float: left;
}
/* line 4493, ../sass/main.scss */
ul.pagination li {
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
}
/* line 4500, ../sass/main.scss */
ul.pagination li:before {
  display: none;
}
/* line 4503, ../sass/main.scss */
ul.pagination li a {
  display: inline-block;
  padding: 10px 5px;
  font-family: avantgardegothiccbold, Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #000;
  line-height: 1;
  -moz-transition: color 0.2s, background-image 0.2s;
  -o-transition: color 0.2s, background-image 0.2s;
  -webkit-transition: color 0.2s, background-image 0.2s;
  transition: color 0.2s, background-image 0.2s;
  border-top: 1px solid #000;
  margin-top: -1px;
}
/* line 4512, ../sass/main.scss */
ul.pagination li a:hover {
  text-decoration: none;
}
/* line 4515, ../sass/main.scss */
ul.pagination li a[href] {
  font-family: avantgardegothiccregular, Arial, sans-serif;
  font-weight: normal;
  color: #000;
  border-top: none;
  text-decoration: none;
}
/* line 4519, ../sass/main.scss */
ul.pagination li a[href]:hover {
  text-decoration: underline;
}

.common_list a.js-add-to-cart {
    height: 25px;
    padding: 0px;
    line-height: 25px;
    text-align: center;
}
input[type=submit].important, .btn.important {
    background-color: #000;
    color: #fff;
}

.js-add-to-cart-inner, .js-add-to-cart {
    border: 1px solid #000 !important;
}


.btn {
    font-family: avantgardegothiccregular, Arial, sans-serif;
    font-weight: normal;
    font-size: 10px;
    color: #000;
    line-height: 1;
    padding: 12px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    border: 1px solid #000;
    background: #fff;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: color 0.2s ease, background-color 0.2s ease;
    -o-transition: color 0.2s ease, background-color 0.2s ease;
    -webkit-transition: color 0.2s ease, background-color 0.2s ease;
    transition: color 0.2s ease, background-color 0.2s ease;
    -webkit-appearance: none;
    overflow: hidden;
    position: relative;
}
.btn:hover {
  color: #000;
  background-color: #fff;
}

.item-actions-cnt a.btn{
	padding: 0px;
    line-height: 25px;
    text-align: center;
}



.footer-list {
  list-style-type: none;
  font-family: avantgardegothiccregular, Arial, sans-serif;
  font-weight: normal;
  font-size: 9px;
  color: #575757;
  line-height: 10px;
  margin-right: 90px;
  letter-spacing: 1px;
  margin: 10px 90px 0px 0px;
  float: left;
}
/* line 5135, ../sass/main.scss */
.footer-list li:first-child {
  font-family: avantgardegothiccbold, Arial, sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #000;
  line-height: 10px;
  margin-bottom: 7px;
  text-transform: uppercase;
}
/* line 5141, ../sass/main.scss */
.footer-list li a {
  color: inherit;
}
/* line 5144, ../sass/main.scss */
.footer-list li a:hover {
  text-decoration: underline;
}

/* line 5150, ../sass/main.scss */
.footer-list--no-mar {
  margin-left: 0;
}

/* line 5154, ../sass/main.scss */
.footer-contacts {
  margin-right: 80px;
}